@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.btn {
    @include flex(center, center, row);
    padding: 0.875rem 1rem;
    line-height: 100%;
    transition: all 0.2s ease-in-out;

    &-nav{
        border-radius: 10rem;
        background-color: rgba($color: $white, $alpha: 0);
        transition: all 0.4s ease-in-out;
        gap: 0.5rem;

        &:hover {
            background-color: rgba($color: $white, $alpha: .1);
        }
    }

    &-transparent{
        border-radius: 10rem;
        background-color: rgba($color: $white, $alpha: .1);
        transition: all 0.4s ease-in-out;
        gap: 0.5rem;

        &:hover {
            background-color: rgba($color: $white, $alpha: .2);
        }
    }

    &--md {
        font-size: 1rem;
    }
}