@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

// FULL-WIDTH SECTION
.fw-section {
    @include flex(column, start, start);
    padding: 1rem 0 1rem 3rem;
    gap: 1rem;
    width: 100dvw;

    > h3 {
        padding-left: 1rem;
    }
}

.fw-section-scroll-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem 0; 
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.fw-cards {
  display: flex;
  gap: 1.5rem;
  padding: 0 1rem;
  overflow: visible;
  padding-right: 2rem;
  
}




// HERO SECTION
.hero-section {
    /* Background Image Adjustments*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.hero-content {
    background: linear-gradient(
    to top,
    $zinc-950 0%,
    transparent 100%
  );
    z-index: 2;
    width: 100%;
    height: 88dvh;
    min-height: 50rem;

    @include flex(column, end, start);
    padding: 6rem 4rem 4rem 4rem;
    gap: 1rem;

    h1, p {
        max-width: 800px;
    } 
}

.hero-pills {
  @include flex(row, start, center);
  flex-wrap: wrap;
  gap: 1rem;
}

.hero-metadata {
    @include flex(row, start, center);
    flex-wrap: wrap;
    gap: .5rem;
}

.hero-children {
  margin-top: 1rem;;
}