@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.card {
    @include flex(column, start, start);
    gap: .5rem;
    cursor: pointer;
    min-width: 14rem;
    transition: all 0.2s ease-in-out;
    opacity: 0.6;
    scroll-snap-align: start;

    .card-info {
        padding-top: .5rem;
    }

    .card-details{
        width: 100%;
        @include flex(row, start, center);
        gap: .5rem;
    }
    
    img {
        border-radius: .25rem;
        width: 100%;
    }

    &:hover {
        opacity: 1;

        img {
            outline: solid 4px $zinc-400;
        }
    }
}

