@use '../../styles/mixins' as *;

.card {
    @include flex(start, start, column);
    gap: .5rem;
    cursor: pointer;
    min-width: 16rem;
    transition: all 0.2s ease-in-out;
    scroll-snap-align: start;
    
    img {
        border-radius: .25rem;
        width: 100%;
    }

    &:hover {
        transform: translateY(-2px);
    }
}