@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.card {
    @include flex(column, start, start);
    gap: .5rem;
    cursor: pointer;
    min-width: 14rem;
    opacity: 0.8;
    scroll-snap-align: start;
    position: relative;
    transition: all 0.4s ease-in-out;

    .card-info {
        padding-top: .5rem;
    }

    .card-details{
        width: 100%;
        @include flex(row, start, center);
        gap: .5rem;
    }
    
    img {
        border-radius: .25rem;
        width: 100%;
    }

    &:hover {
        opacity: 1;

        img {
            outline: solid 4px $zinc-400;
        }
    }
}

.card-position {
    @include flex(column, center, center);
    position: absolute;
    top: 0;
    right: 0;
    color: $white;
    font-size: $h3;
    min-height: 3rem;
    min-width: 3rem;
    line-height: 1;
    font-weight: 900;
    background: $accent-base;
    border-radius: 0 .25rem 0 .25rem;
}