@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.featured {
    @include flex (end, start, column);
    @include section-padding;
    gap: 1rem;
    min-height: 80vh;

    .featured-content {
        @include flex(start, start, column);
        gap: 1rem;
        max-width: 60%;
    }
}