@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.featured {
    @include flex (end, start, column);
    @include section-padding;
    gap: 1rem;
    height: 85vh;
    min-height: 20rem;
}

.featured-categories {
    @include flex(center, center, row);
    gap: 0.5rem;
}

.featured-content {
    @include flex(start, start, column);
    gap: 1rem;
    max-width: 60%;
    padding-bottom: 1.5rem;

    @media (max-width: 1200px) {
    max-width: 100%;
    }
}

.featured-metadata {
    @include flex(start, center, row);
    gap: 1rem;
}